body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Consolas", "Menlo", "Courier", monospace;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none none;
}
img {
    margin: 3px;
    float: right;
}

#main {
    margin: 15px auto auto;
}
@media all and (max-width: 1080px) {
    #main {
        width: 400px;
    }
    .post {
        width: 380px;
    }
    .post img {
        max-width: 360px;
    }
}
@media all and (min-width: 1081px) {
    #main {
        width: 720px;
    }
    .post {
        width: 700px;
    }
    .post img {
        max-width: 680px;
    }
}

.post img {
    width: 360px;
}
.post {
    margin: 10px 0;
    padding: 5px;
    background-color: darkslategray;
    font-size: 16px;
}
.head {
    height: 20px;
    border-bottom: solid 1px #303030;
}
.date {
    display: inline-block;
    color: cadetblue;
}
.title {
    display: inline-block;
    color: chartreuse;
}
.text {
    display: inline-block;
    color: silver;
}

.left {
    float: left;
}
.right {
    float: right;
}
