<IfModule mod_rewrite.c>
  # taken from https://codex.wordpress.org/htaccess :)
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]

#  RewriteCond $1 !^(index\.php|robots\.txt)
</IfModule>
