<?php

// TODO: change according to your setup

global $config;

$appRootDir = __DIR__;
$serverName = (isset($_SERVER['SERVER_NAME'])) ? $_SERVER['SERVER_NAME'] : null;

$config = array(
    'env' => array(
        'app_root_dir'    => $appRootDir,
        'base_URL'        => 'http://' . $serverName,
        'max_upload_size' => 1000000
    ),
    'blog' => array(
        'author'      => 'You',
        'title'       => 'My blog',
        'description' => 'A blog on tech and kitties',
    ),
    'sql' => array(
        'host'     => 'localhost',
        'username' => 'orangecms',
        'password' => 'orangecms',
        'database' => 'orangecms'
    ),
    'user' => array(
        'username' => 'orangecms',
        'password' => 'orangecms'
    ),
    'system' => array(
        'debug'           => false,
        'verbose'         => true,
    )
);
